.gallery__button{
  background-image: url("/images/heart.svg");
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.gallery__button:hover{
  opacity: 0.6;
  cursor: pointer;
}

.gallery__button:active{
  background-image: url("/images/active-heart.svg");
}