.gallery{
  display: grid;
  gap: 19px 17px;
  grid-template-columns: repeat(3, 282px);
}

@media screen and (max-width: 900px){
  .gallery{
    grid-template-columns: repeat(1, 282px);
    justify-content: center;
    
  }
}