.profile__wrap{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 900px){
  .profile__wrap{
    padding-left: 26px;
    margin-bottom: 9px;
  }
}